<form
  class="row g-3"
  style="margin-top: 40px; display: flex; flex-direction: column"
  method="POST"
  action="/"
>
  <h2 style="margin-bottom: 30px">Attendance Recorder - Kaar Technologies</h2>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Name" name="name" />
  </div>
  <input id="datepicker" name="date" />
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
    "
  >
    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="customRadio1"
        name="customRadio1"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadio1">Present</label>
    </div>
    <div class="custom-control custom-radio">
      <input
        type="radio"
        id="customRadio2"
        name="customRadio2"
        class="custom-control-input"
      />
      <label class="custom-control-label" for="customRadio2">Absent</label>
    </div>
  </div>
  <div style="margin-top: 30px">
    <button type="submit" class="btn btn-primary mb-3">
      Confirm Attendance
    </button>
    <button
      type="button"
      class="btn btn-primary mb-3"
      style="margin-left: 20px"
    >
      <a href="/admin" style="color: #fff; text-decoration: none">Admin</a>
    </button>
  </div>
</form>

<script>
  $("#datepicker").datepicker({
    uiLibrary: "bootstrap4",
  });
</script>
